body{ background-color: #ffffff; }

body, tr,td, table {
	Font-Family: Arial, "Times New Roman", Times, serif;
	Color: #000;
	font-size: 15px;
	letter-spacing: 0.5px;
	font-weight: lighter;
	line-height: 24px;
	word-spacing: 1mm;
}

/*   .Font Divs.   */
.blue-header, .style1 {
	color: #548bba; /* blue */
	font-weight:bold;
	font-size:18px;
}

/*   .Font Divs.   */
.grey-header, .style2 {
	color: #d3d1d1; /* grey */
	font-weight:bold;
	font-size:16px;
}

/*
.fontTimesItalicSmall, .style4{
	Font-Family: Arial, "Times New Roman", Times, serif;
	Color: #666666;
	font-size: 13px;
	letter-spacing: 0.5px;
	font-weight: lighter;
	line-height: 18px;
	word-spacing: 1mm;
	font-style: italic;
}


.fontTimesBold, .style2{
	Font-Family: Arial, "Times New Roman", Times, serif;
	Color: #5A5A5A;
	font-size: 15px;
	letter-spacing: 0.5px;
	font-weight: bold;
	line-height: 24px;
	word-spacing: 1mm;
}

.fontTimesRed, .style1{
	Font-Family: Arial, "Times New Roman", Times, serif;
	Color: #b20838;
	font-size: 15px;
	letter-spacing: 0.5px;
	font-weight: bold;
	line-height: 24px;
	word-spacing: 1mm;
}

.fontSubheader, .style5 {
	Font-Family: "Times New Roman", Times, serif;
	Color: #b20838;
	font-size: 22px;
	letter-spacing: 0px;
	font-weight: normal;
	font-variant: small-caps;
	line-height: 22px;
}
*/